<!DOCTYPE html>
<html lang="en" class="dark-style">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CCU Student Profile</title>

  <link rel="stylesheet" href="/assets/css/core-dark.css">
  <link rel="stylesheet" href="/assets/css/boxicons.css">
  <link rel="stylesheet" href="/assets/css/font.css">
  <link rel="stylesheet" href="/assets/css/app.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#977101">
  <meta name="msapplication-TileColor" content="#977101">
  <meta name="theme-color" content="#977101">
</head>
<body>
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
      <img src="/assets/img/logo.png" alt="Coal City University" class="logo">
      Coal City University
    </h4>
    <h4 class="py-3 breadcrumb-wrapper mb-4 lh-xl">
      <span class="text-muted fw-light">Student Personal Information /</span> Obioha Omezibe's Profile
    </h4>
  
    <!-- Header -->
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="user-profile-header-banner">
            <img src="/assets/img/profile-banner.png" alt="Banner image" class="rounded-top">
          </div>
          <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
            <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
              <img src="/assets/img/profile.png" alt="Profile image" class="d-block h-auto ms-0 ms-sm-4 user-profile-img">
            </div>
            <div class="flex-grow-1 mt-3 mt-sm-5">
              <div
                class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4">
                <div class="user-profile-info">
                  <h4 class="username-text">Obioha Omezibe <img src="/assets/img/verified.png" alt="verified" class="verified" title="Verified Student"></h4>
                  <ul
                    class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2">
                    <li class="list-inline-item">
                      <i class="bx bxs-buildings"></i> Maths &amp; Computer Science
                    </li>
                    <li class="list-inline-item">
                      <i class="bx bxs-graduation"></i> B.Sc. Computer Science
                    </li>
                    <li class="list-inline-item">
                      <i class="bx bxs-bolt"></i> 400 Level
                    </li>
                  </ul>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Header -->
    
  
    <!-- User Profile Content -->
    <div class="row">
      <div class="col-xl-4 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
        <!-- About User -->
        <div class="card mb-4">
          <div class="card-body">
            <small class="text-muted text-uppercase">About</small>
            <ul class="list-unstyled mb-0 mt-3">
              <li class="d-flex align-items-center mb-3"><i class="bx bx-user"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">First Name:</span> <span>Omezibe</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bxs-user-rectangle"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Middle Name:</span> <span>Chibudom</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bxs-user-rectangle"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Last Name:</span> <span>Obioha</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-female bx-male"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Gender:</span> <span>Male</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-calendar"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Date Of Birth:</span> <span>25/01/2501</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-health"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Blood Group:</span> <span>A Positive (A+)</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-health"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Genotype:</span> <span>AA</span></li>
              <li class="d-flex align-items-center"><i class="bx bx-church"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Religion:</span> <span>Christianity</span></li>
            </ul>
          </div>
        </div>
        <!--/ About User -->
        <!-- Profile Overview -->
        <div class="card mb-4">
          <div class="card-body">
            <small class="text-muted text-uppercase">Contacts</small>
            <ul class="list-unstyled mb-4 mt-3">
              <li class="d-flex align-items-center mb-3"><i class="bx bx-phone"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Mobile Phone:</span> <span><a href="tel:07063235958">07063235958</a></span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-envelope"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Email:</span> <span><a href="mailto:obiohaomezibe@gmail.com">obiohaomezibe@gmail.com</a></span></li>
            </ul>
            <small class="text-muted text-uppercase">Location</small>
            <ul class="list-unstyled mt-3 mb-0">
              <li class="d-flex align-items-center mb-3"><i class="bx bx-map"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">State Of Origin:</span> <span>Abia</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-map"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">LGA Of Origin:</span> <span>Umunnochi</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-map-pin"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Home Town:</span> <span>Umuaku, Isuochi</span></li>
              <li class="d-flex align-items-center mb-3"><i class="bx bx-map"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Permanent Address:</span> <span>Enugu</span></li>
              <li class="d-flex align-items-center"><i class="bx bx-map-alt"></i><span
                  class="fw-semibold mx-2 flex-shrink-0">Contact Address:</span> <span>No. 8 Salita Street, Enugu.</span></li>
            </ul>
          </div>
        </div>
        <!--/ Profile Overview -->
        
        <!-- Medical History -->
        <div class="card mb-4">
          <div class="card-body">
            <small class="text-muted text-uppercase">Programme Details</small>
            <ul class="timeline ms-2 mt-3">
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Student Type</span>: Regular</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Mode Of Entry</span>: Transfer</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Mode Of Study</span>: Full Time</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Student Mode</span>: Returning Student</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Matric Number</span>: 2018/20289COS</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">JAMB Number</span>: 65466097DE</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Entry Year</span>: 2018 - 2019</h6>
                  </div>
                </div>
              </li>
              <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event minimized">
                  <div class="timeline-header mb-1">
                    <h6 class="mb-0"><span class="fw-semibold">Year Of Graduation</span>: 2021 - 2022</h6>
                  </div>
                </div>
              </li>
          
              <li class="timeline-end-indicator">
                <i class="bx bx-check-circle"></i>
              </li>
            </ul>
          </div>
        </div>
        <!--/ Medical History -->
        
      </div>
      <div class="col-xl-8 col-lg-6 offset-lg-0 col-md-10 offset-md-1">
        <!-- Activity Timeline -->
        <div class="card mb-4">
          <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
              <div class="card-body">
                <ul class="timeline ms-2">
                  <li class="timeline-item timeline-item-transparent">
                    <span class="timeline-point timeline-point-success"></span>
                    <div class="timeline-event">
                      <div class="timeline-header mb-1">
                        <h6 class="mb-0 fw-semibold">Sponsor's Details</h6>
                      </div>
                      <ul class="list-unstyled mt-3 mb-0">
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-user"></i><span class="fw-semibold mx-2 flex-shrink-0">Sponsor's Fullname:</span></div>
                          <p class="text-muted">Pst. Obioha Madu</p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-map-alt"></i><span class="fw-semibold mx-2 flex-shrink-0">Sponsor's Address:</span></div>
                          <p class="text-muted">No. 8 Salita Street, Enugu.</p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-phone"></i><span class="fw-semibold mx-2 flex-shrink-0">Sponsor's Mobile Number:</span></div>
                          <p class="text-muted"><a href="tel:07031229844">07031229844</a></p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-user-pin"></i><span class="fw-semibold mx-2 flex-shrink-0">Relationship:</span></div>
                          <p class="text-muted">Father</p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-envelope"></i><span class="fw-semibold mx-2 flex-shrink-0">Sponsor's Email:</span></div>
                          <p class="text-muted"><a href="mailto:obiohamadu@gmail.com">obiohamadu@gmail.com</a></p>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="timeline-item timeline-item-transparent">
                    <span class="timeline-point timeline-point-success"></span>
                    <div class="timeline-event">
                      <div class="timeline-header mb-1">
                        <h6 class="mb-0 fw-semibold">Next Of Kin's Details</h6>
                      </div>
                      <ul class="list-unstyled mt-3 mb-0">
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-user"></i><span class="fw-semibold mx-2 flex-shrink-0">Next Of Kin's Fullname:</span></div>
                          <p class="text-muted">Mrs. Uzoamaka Obioha</p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-map-alt"></i><span class="fw-semibold mx-2 flex-shrink-0">Next Of Kin's Address:</span></div>
                          <p class="text-muted">No. 8 Salita Street, Enugu.</p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-phone"></i><span class="fw-semibold mx-2 flex-shrink-0">Next Of Kin's Mobile Number:</span></div>
                          <p class="text-muted"><a href="tel:07031229841">07031229841</a></p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-user-pin"></i><span class="fw-semibold mx-2 flex-shrink-0">Relationship:</span></div>
                          <p class="text-muted">Mother</p>
                        </li>
                        <li class="mb-3">
                          <div class="d-flex align-items-center mb-2"><i class="bx bx-envelope"></i><span class="fw-semibold mx-2 flex-shrink-0">Next Of Kin's Email:</span></div>
                          <p class="text-muted"><a href="mailto:uzo.obioha@gmail.com">uzo.obioha@gmail.com</a></p>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="timeline-end-indicator">
                    <i class="bx bx-check-circle"></i>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
              <div class="card-body">
                <small class="text-muted text-uppercase">Medical History</small>
                <br>
              
                <div class="form-check form-switch mt-3 mb-3">
                  <input class="form-check-input" type="checkbox" id="autisticSpectrum" disabled>
                  <label class="form-check-label" for="autisticSpectrum">Autistic Spectrum</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="longTermIllHealth" disabled>
                  <label class="form-check-label" for="longTermIllHealth">Long Term Ill-Health</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="wheelchairUser" disabled>
                  <label class="form-check-label" for="wheelchairUser">Wheelchair User</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="visualImpairment" checked disabled>
                  <label class="form-check-label" for="visualImpairment">Visual Impairment</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="mentalHealth" disabled>
                  <label class="form-check-label" for="mentalHealth">Mental Health</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="otherDisability" disabled>
                  <label class="form-check-label" for="otherDisability">Other Disability Not Listed</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="hearingImpairment" disabled>
                  <label class="form-check-label" for="hearingImpairment">Hearing Impairment</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="dyslexia" disabled>
                  <label class="form-check-label" for="dyslexia">Dyslexia</label>
                </div>
                <div class="form-check form-switch mb-3">
                  <input class="form-check-input" type="checkbox" id="multipleDisability" disabled>
                  <label class="form-check-label" for="multipleDisability">Multiple Disability</label>
                </div>
              </div>

              <hr>
              
              <div class="card-body">
                <small class="text-muted text-uppercase">Additional Details Concerning Obioha Omezibe's Health</small>
                <br>
              
                <div class="mt-4">
                  <textarea class="form-control" id="additionalDetails" readonly>NONE</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Activity Timeline -->
      </div>
    </div>
    <!--/ User Profile Content -->
  </div>
</body>
</html>